<div class="screen chat">
  <div class="header">
    <div class="title">
      <%= image_tag 'pelican.svg', class: 'image' %>
      <div class="name">토이코드 봇</div>
    </div>
    <div class="buttons">
      <%= link_to image_tag('learn.svg', class: 'button'), '/dictionary/new' %>
      <%= link_to image_tag('dictionary.svg', class: 'button'), '/dictionary' %>
    </div>
  </div>
  <div class="talk-wrapper">
    <% @chats.each do |c| %>
      <% if c.chat_type == "user" %>
      <div class="talk user">
        <div class="message">
          <div class="content"><%= c.chat_content %></div>
        </div>
      </div>
      <% else %>
      <div class="talk">
        <%= image_tag 'pelican.svg', class: 'image' %>
        <div class="message">
          <div class="name">토이코드 봇</div>
          <div class="content"><%= c.chat_content %></div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <%= form_tag '/chat', method: 'post', class: 'message-form' do %>
    <input type="submit" value="전송" class="submit-button">
    <div class="content-input-wrapper">
      <input type="text" name="content" class="content-input">
    </div>
    <% end %>
</div>
